body{
    background-color: rgb(217, 254, 234);
    color: rgb(48, 79, 63);
    font-family: 'Trebuchet MS', sans-serif;
    font-size: 18px;
}

h1{
    font-size: 20px;
}

#naranja{
    color: coral;
}

